@import "../Helper/mixin";

.course {
    padding-top: 4rem;
    background-image: url(../../Image/accent_bottom_wave_01.png);
    background-position: top;
    background-size: cover;
    position: relative;
    // z-index: -1;


    .content-right {
        @include d-flex(0, center, center);




        .clearfix {
            &:after {
                content: "";
                display: block;
                clear: both;
                visibility: hidden;
                height: 0;
            }
        }

        .form_wrapper {
            background: $color-white-3;
            border-radius: 15px;
            max-width: 100%;
            box-sizing: border-box;
            padding: 25px;
            position: relative;
            z-index: 1;
            -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            -webkit-transition: none;
            transition: none;
            -webkit-animation: expand 0.8s 0.6s ease-out forwards;
            animation: expand 0.8s 0.6s ease-out forwards;

            h2 {
                font-size: 1.5em;
                line-height: 1.5em;
                margin: 0;
            }

            .title_container {
                text-align: center;
                padding-bottom: 15px;

                h2 {
                    font-size: $fs-3;
                }
            }

            h3 {
                font-size: 1.1em;
                font-weight: normal;
                line-height: 1.5em;
                margin: 0;
            }

            label {
                font-size: 12px;
            }

            .row {
                margin: 10px -15px;

                >div {
                    padding: 0 15px;
                    box-sizing: border-box;
                }
            }

            .col_half {
                width: 50%;
                float: left;
            }

            .input_field {
                position: relative;
                margin-bottom: 20px;
                -webkit-animation: bounce 0.6s ease-out;
                animation: bounce 0.6s ease-out;
                // @include d-flex (0, center, flex-start);

                textarea {
                    width: 100%;
                }

                >span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #333;
                    height: 100%;
                    // border-right: 1px solid $color-dark-1;
                    text-align: center;
                    width: 30px;

                    >i {
                        padding-top: 10px;
                    }
                }
            }

            .textfield {

                i {
                    position: absolute;
                    top: 16px;
                    left: 10px;
                }

                .textarea {
                    padding-left: 35px;
                    padding-top: 8px;
                    border-radius: 15px;
                    border: 1px solid #EDEDED;
                    font-size: $fs-3;
                    transition: all 1s;

                    &:focus {
                        border: 1px solid #757272;
                        outline: #757272;
                    }
                }
            }

            .textarea_field {
                >span {
                    >i {
                        padding-top: 10px;
                    }
                }
            }

            input {

                &[type="text"],
                &[type="email"],
                &[type="password"] {
                    font-size: $fs-3;
                    width: 100%;
                    padding: 8px 10px 9px 35px;
                    height: 35px;
                    border: 1px solid $color-gray;
                    border-radius: 50px;
                    box-sizing: border-box;
                    outline: none;
                    -webkit-transition: all 0.30s ease-in-out;
                    -moz-transition: all 0.30s ease-in-out;
                    -ms-transition: all 0.30s ease-in-out;
                    transition: all 0.30s ease-in-out;
                }

                &[type="text"]:hover,
                &[type="email"]:hover,
                &[type="password"]:hover {
                    background: #fafafa;
                }

                &[type="text"]:focus,
                &[type="email"]:focus,
                &[type="password"]:focus {
                    // -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
                    // -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
                    // box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
                    border: 1px solid #EDEDED;
                    background: #fafafa;
                }
            }

            .btn-confirm {
                width: 35%;
                border: 1px solid #bb288d;
                @include text ($fs-1, $fw-2, $color-white-1);


                &:hover {
                    background: $color-white-1;
                    border: 1px solid #b61984;
                    @include text ($fs-1, $fw-2, $color-pink);
                    // color: #b61984;
                }
            }
        }
    }
}